/* src/App.css */

/* Estilos globales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #121212 url('../public/images/universo.jpg') center center / cover no-repeat;
  color: #ffffff;
}

/* Contenedor principal */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Títulos */
h2.centered-title {
  color: #00aaff;
  
}

/* Formularios y botones */
input[type="date"], button {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px;
}

button {
  background-color: #007bff;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
